@use './variabili';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}
.justify-beetween{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.row{
  display: flex;
  flex-wrap:wrap;
}

